.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.receta-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background-color: lightgray;
}

.icon_image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.icon_image:hover{
    transition: 0.5s;
    background-color: green;
    color: white;
}